@import "antd/dist/antd.css";
body {
  margin: 0;
  font-family: "Microsoft YaHei", monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: Iosevka, "Source Code Pro", Menlo, Consolas, monospace;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(187, 183, 183);
}
